node_modules

.cache/
.trigger
/build
/public/build
.env*

/postgres-data

.sentryclirc
.vercel
.trigger
/test-results/
/playwright-report/
/playwright
/blob-report/
/playwright

# Sentry Config File
.sentryclirc
