@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadcn */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 98%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 199 30% 37%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 44%;
    --accent: 0 0% 95.9%;
    --accent-foreground: 0 0% 9%;
    --success: 142 76% 27.1%;
    --success-foreground: 38 92% 51.5%;
    --warning: 48 96% 53%;
    --warning-foreground: 0 0% 0%;
    --destructive: 0 84.2% 50%;
    --destructive-foreground: 60 9.1% 100%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 199 26% 40%;
    --radius: 0.5rem;

    --white: 0 0% 100%;
    --black: 0 0% 0%;
  }

  :root[class~="dark"] {
    --background: 0 0% 10%;
    --foreground: 60 9.1% 97.8%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 12%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 199 26% 60%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --success: 142 76% 40%;
    --success-foreground: 38 92% 50%;
    --warning: 48 96% 53%;
    --warning-foreground: 0 0 0%;
    --destructive: 0 72.2% 51.5%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0 0% 17.1%;
    --input: 0 0% 15.1%;
    --ring: 199 26% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-primary text-white;
  }

  h1 {
    @apply text-pretty;
  }

  input[type="file" i]::-webkit-file-upload-button {
    color: hsl(var(--foreground));
    background: transparent;
    cursor: pointer;
  }
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: hsl(var(--primary));

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px hsl(var(--primary)),
    0 0 5px hsl(var(--primary));
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
